body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}
.container{
    flex: 1 0 auto;
}
#articles{
    margin: 10px auto;
    background-color: #3797a4;
    padding: 10px 0;
    border-radius: 1em;
}
.card{
    width: 240px;
    margin: 10px auto;
}
.card img{
    margin-top: 10px;
}
footer{
    background-color: #16697a;
    color: aliceblue;
    height: 120px;
    text-align: center;
    display: grid;
    align-content: center;
    justify-content: center;
}
.hero{
    margin-top: 10px;
}
p span {
    background-color: aquamarine;
    padding: .5em;
}
h4{
    background-color: lightskyblue;
    padding: .5em;
    font-weight: 700;
    display: inline-block;
    border-radius: 1em;
}
.about {
    letter-spacing: .2em;
    line-height: 2em;
}
